.listKajmakPage {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    height: 620px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu {
    width: 200px;
    background-color: #eee;
    position: fixed;
    height: 620px;
    opacity: 0.9;
    border: solid black 1px;
}

.menu a {
    color: black;
    display: block;
    height: 206px;
    text-align: center;
    line-height: 206px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ccc;
}

.menu a.active {
    background-color: #636065;
    color: white;
}

.right {
    width: 100vh - 60px;
    margin-left: 200px;
    height: 600px;
    padding-top: 40px;
}

.table  {
    margin-left: 20px;
    margin-right: 20px;
    color:  #b5b4bb;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-collapse: collapse;
}

thead {
    color: black;
    text-transform: uppercase;
    height: 40px;
}

tbody {
    font-size: 20px;
    height: 40px;
    padding: 10px;
    background-color:  #7a777d;
}

th, tr {
    width: 300px;
}

tr {
    border-left: 0px solid;
}