<div class="listKajmakPage">
    <div class="menu">
        <a [routerLink]="['/create']">Create Kajmak</a>
        <a class="active" [routerLink]="['/list']">List Kajmak </a>
        <a [routerLink]="['/mix']">Mix Kajmak</a>
    </div>
    <div class="right">
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Milk From</th>
                    <th>Quantity</th>
                    <th>Type</th>
                    <th>Salt</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{ product.name }}</td>
                    <td>{{ product.milkfrom }}</td>
                    <td>{{ product.liters*40}}</td>
                    <td>{{ product.type }}</td>
                    <td>{{ product.salt }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>