<div class="listKajmakPage">
    <div class="menu">
        <a [routerLink]="['/create']">Create Kajmak</a>
        <a class="active" [routerLink]="['/list']">List Kajmak </a>
        <a [routerLink]="['/mix']">Mix Kajmak</a>
    </div>
    <div class="right">

        <div class="right-header">
            {{pageTitle}}

        </div>

        <table class="table">

            <thead style="background-color: aquamarine">
                <tr>

                    <th>Image</th>
                    <th>Product</th>
                    <th>Exp Date</th>
                    <th>Price</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let product of products'>
                    <td>
                        <img [src]='product.imageUrl' [title]='product.productName' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
                    </td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.expDate }}</td>
                    <td>{{ product.price | currency: 'USD' : 'symbol' : '1.2-2'}}</td>


                </tr>
            </tbody>

        </table>

    </div>
</div>