<div class="listKajmakPage">
    <div class="menu">
        <a [routerLink]="['/create']">Create Kajmak</a>
        <a class="active" [routerLink]="['/list']">List Kajmak </a>
        <a [routerLink]="['/mix']">Mix Kajmak</a>
    </div>
    <div class="right">

        <div class="right-header">
            {{pageTitle}}

        </div>

        
        <div class="right-body">
             <table>
                 <tr>
                     <th>Image</th>
                     <th>Name</th>
                     <th>Price</th>
                     <th>Exp. Date</th>
                 </tr>

             </table>
        </div>




    </div>

</div>