<div class="mixKajmakPage">
    <div class="menu">
        <a [routerLink]="['/create']">Create Kajmak</a>
        <a [routerLink]="['/list']">List Kajmak </a>
        <a class="active" [routerLink]="['/mix']">Mix Kajmak</a>
    </div>
    <div class="right">
        <form class="form">
            Choose First Kajmak:<br>
            <select>
                <option *ngFor="let product of products">{{ product.name }}</option>
            </select><br>
            Choose Second Kajmak:<br>
            <select>
                <option *ngFor="let product of products">{{ product.name }}</option>
            </select>
            <br>
            <br>
            <button class="button" (click)="MixKajmak()">Mix</button>
        </form>
    </div>
</div>