.createKajmakPage {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    height: 620px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu {
    width: 200px;
    background-color: #eee;
    position: fixed;
    height: 620px;
    opacity: 0.9;
    border: solid black 1px;
}

.menu a {
    color: black;
    display: block;
    height: 206px;
    text-align: center;
    line-height: 206px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ccc;
}

.menu a.active {
    background-color: #636065;
    color: white;
}

.right {
    width: 100vh - 60px;
    margin-left: 200px;
    height: 620px;
    padding-top: 80px;
}

.form {
    color: #b5b4bb;
    width: 30%;
    margin: 0 auto;
    padding: 15px;
    background-color: #7a777d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input, select {
    font-size: 20px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
    color: black;
    background-color: #eaeaea;
}

.button {
    width: 70%;
    background-color: #9e9da2;
    border: none;
    color: black;
    transition: all 0.5s;
    cursor: pointer;
    height: 50px;
}

.button:hover {
    color: white;
    background-color: #636065;
    font-weight: bold;
}