<div class="createKajmakPage">
    <div class="menu">
        <a class="active" [routerLink]="['/create']">Create Kajmak</a>
        <a [routerLink]="['/list']">List Kajmak </a>
        <a [routerLink]="['/mix']">Mix Kajmak</a>
    </div>
    <div class="right">
        <form class="form">
            Name: <br>
            <input type="text" name="name" required> <br>
            Milk from: <br>
            <select>
                <option value="cow">Cow</option>
                <option value="sheep">Sheep</option>
                <option value="goat">Goat</option>
            </select> <br>
            Liters of milk:<br>
            <input type="number" name="liters" min="1" max="100" required><br>
            Type:<br>
            <input type="radio" name="type" value="young" checked class="radioInput"> Young
            <input type="radio" name="type" value="mature" checked class="radioInput"> Mature <br>
            Salt: <br>
            <input type="radio" name="salt" value="yes" checked class="radioInput"> Yes
            <input type="radio" name="salt" value="no" class="radioInput"> No
            <br>
            <br>
            <input type="submit" value="CREATE" class="button">
        </form>
    </div>
</div>