<div class="createKajmakPage">
    <div class="menu">
        <a class="active" [routerLink]="['/create']">Create Kajmak</a>
        <a [routerLink]="['/list']">List Kajmak </a>
        <a [routerLink]="['/mix']">Mix Kajmak</a>
    </div>
    <div class="right">
        <form class="form">
            Name: <br>
            <input type="text" name="name" [(ngModel)]="kajmak.name" required> <br>
            Milk from: <br>
            <select name="milkfrom" [(ngModel)]="kajmak.milkfrom">
                <option value="cow">Cow</option>
                <option value="sheep">Sheep</option>
                <option value="goat">Goat</option>
            </select> <br>
            Liters of milk:<br>
            <input type="number" name="liters" [(ngModel)]="kajmak.liters" min="1" max="100" required><br>
            Type:<br>
            <select name="type" [(ngModel)]="kajmak.type">
                <option value="young">Young</option>
                <option value="mature">Mature</option>
            </select>
            Salt: <br>
            <select name="salt" [(ngModel)]="kajmak.salt">
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            <br>
            <br>
            <button class="button" (click)="CreateData()">CREATE</button>
        </form>
    </div>
</div>