.mainPage {
    background-color: #dddddd;
    height: 100vh;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

button {
    margin-top: 20px;
    background-color: #9e9da2;
    border: none;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 800px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 25px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }