.welcomePage {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    height: 620px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left, .right {
    height: 580px;
    border: solid black 1px;
    float: left;
    width: 705px;
    margin: 15px;
}

.left {
    text-align: left;
}

.right {
    background-image: url('http://www.restoranstaribunar.com/wp-content/uploads/2017/05/Kajmak-2.jpg');
}
